<div class="row centered">
      <h2 class="b-head">Contact</h2>
      <br />
      <h4 class="c-head">Find me on LinkedIn and Github, view my current resume, or send me an email.</h4>
    </div>

    <div class="row links">
      <div class="col-md-4"></div>
      <div class="col-md-1">
        <!-- LinkedIn -->
        <a href="http://linkedin.com/in/cory-grinstead" target="_blank">
          <img src="static/linkedin.png" />
        </a>
      </div>
      <div class="col-md-1">
        <!-- Github -->
        <a href="http://github.com/universalmind303" target="_blank">
          <img src="static/assets/github.png" />
        </a>
      </div>
      <div class="col-md-1">
        <!-- Resume -->
        <a href="static/assets/resume.pdf" target="_blank">
          <img src="static/assets/resume.png" />
        </a>
      </div>
      <div class="col-md-1">
        <!-- Email -->
        <a href="mailto:cory.grinstead@gmail.com">
          <img src="static/assets/email.png" />
        </a>
      </div>
      <div class="col-md-4"></div>
    </div>