<!DOCTYPE html>


<html ng-app='myApp'>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Cory Grinstead</title>
  <meta name="description" content="I am a Seattle-based software engineer specializing in fullstack JavaScript web development.">
  <meta name="author" content="Cory Grinstead">
  <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="static/css/styles.css" type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300" rel="stylesheet">
</head>



<body>

<div class="container-fluid">

  <!-- DESCRIPTION -->
    <div class="bio-container">

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
          <img width="100%" height="100%" src="static/assets/me.jpg"/>
        </div>

        <div class="col-md-5">
          <h4 class="lead">Cory is a Seattle based software engineer specializing in fullstack JavaScript web development. He has experience developing applications using several leading frameworks and technologies, among them React, Redux, AngularJS, jQuery, Node.js, Express, SQL, and MongoDB. To see some of his recent applications, view his current resume, or contact him, please follow one of the links below!
          </h4>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  <!-- APPLICATIONS -->
    

    <!-- RESUME AND CONTACT INFORMATION -->
    
  </div>
      <div class='row'><div class='text-center col-md-12 ' style="text-align: 'center'"><h3> This site is constantly undergoing improvements</h3></div></div>
  </body>
</html>