<div class="row centered">
      <h2 class="b-head">Recent Applications</h2>
    </div>
    <!-- SCREENSHOTS -->
    <div class="row">
      <div class="col-md-2"></div>
        <div class="col-md-3">
          <h3 class="app-title">
            <a href="https://github.com/my-sentry/my-sentry" target="_blank">
            MySentry</h3>
            </a>
          <br />
          <p class="app-desc">MySentry is a mobile app that allows users to form groups, once a part of a group, the user can set up events with a corresponding time frame for when they’ll be alone, such as a morning run, if the timer on the event runs out before the user checks in, a push notification will be sent out to their group to check in on their group member. MySentry was built using React Native with Redux, mySQL, Node.js and Express, along with Passport.js for authentication.</p>
          <!-- Link to Repo -->
        </div>
        <div class="col-md-3">
          <h3 class="app-title">
            <a href="http://cardcast.corygrinstead.com" target="_blank">
            CardCast</h3>
            </a>
          </br />
          <p class="app-desc">Cardcast is a collaborative presentation platform that utilizes Google ChromeCast. Chromecast allows users to create and save slide decks with markdown language. They can project these slides to any deviced connected to ChromeCast or cast directly to a url. It was built using AngularJS, MongoDB, Node.js, and Express.
        </div>
        <div class="col-md-3">
          <h3 class="app-title">
            <a href="http://grocerybag.corygrinstead.com" target="_blank">
            Grocery List</h3>
            </a>
          <br />
          <p class="app-desc">Grocery List is a mobile optimized web application for live budget tracking while the user is shopping. This application was built using React, Node.js, and Express</p>
        </div>
      <div class="col-md-1"></div>
    </div>