<!DOCTYPE html>
<html sm  <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="static/css/styles.css" type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300" rel="stylesheet">
   <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="static/css/styles.css" type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300" rel="stylesheet">

  <title>Cory Grinstead</title>
</head>
<body style='background-color:' ng-app='myApp'  >
<div class="container-fluid" >

    <div class="row header">
      <h1  class='heading col-md-6 text-center'><a style="text-decoration : none; color : #fff" href="/#/" >CORY GRINSTEAD</a></h1>
        
      <div >

        <span class='col-sm-1 link'><a href="/#/">About Me</a></span>
        <span class='col-sm-1 link'><a href="/#/portfolio">Portfolio</a></span>
        <span class='col-sm-1 link'><a href="/#/contact">Contact</a></span>
        <span class='col-sm-1 link'><a href="/#/blogs">Blogs</a></span>
        </div>

    </div>
    </div>
<div class="pre-scrollable wrap" ng-view></div>

    <script src="static/lib/angular/angular.js"></script>
    <script src="static/lib/angular-route/angular-route.js"></script>
    <script src="static/javascripts/app.js"></script>
    <script src="static/javascripts/portfolio.js"></script>
</body>
<div class='row' ><footer class='footer text-center hidden-xs hidden-sm text-muted h6'>This website is brought to you by Python and AngularJS</footer></div>

</html>
