<!DOCTYPE html>
<html >
<head>
  <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="static/css/styles.css" type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300" rel="stylesheet">
  <title>Cory Grinstead</title>
</head>
<body ng-app='myApp'  >
<div class="container-fluid" >

    <div class="row header">
      <h1 class='heading' ><a style="text-decoration : none; color : #fff" href="/#/" >CORY GRINSTEAD</a></h1>
      <div class='container'>

        <span class='col-md-2'><a class='navbar' href="/#/">About Me</a></span>
        <span class='col-md-2'><a class='navbar' href="/#/portfolio">Portfolio</a></span>
        <span class='col-md-2'><a class='navbar' href="/#/contact">Contact Me</a></span>
        <span class='col-md-2'><a class='navbar' href="/#/blogs">Blogs</a></span>
        </div>
        </span>
    </div></div>
<div ng-view></div>

    <script src="static/lib/angular/angular.js"></script>
    <script src="static/lib/angular-route/angular-route.js"></script>

    <script src="static/javascripts/app.js"></script>
<div class='row' ><footer class='footer'>This website is brought to you by Python and AngularJS</footer></div>
</body>

</html>
